<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <table>
    <thead>
    <tr th:each="columnChoice : ${columnChoices}">
      <th th:text="${columChoice}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tableChoice : ${tableChoices}">
      <td><span th:text="${tableChoice}"> Title </span></td>
    </tr>
    </tbody>
  </table>

</div>

</body>
</html>